::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #ec003f;
    border-radius: 6px;
    border: 3px solid #fecdd3;
}

::-webkit-scrollbar-track {
    background: #fecdd3;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

@media (max-width: 640px) {
    header iframe {
        display: none;
    }
}

input[type="checkbox"] {
    accent-color: #ec003f;
    /* цвет галочки и рамки */
}

.plan-btn {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border-width: 1px;
    cursor: pointer;
    transition: all 0.2s;
    background-color: white;
    border-color: rgb(254 205 211);
    color: black;
}

.plan-btn.active {
    background-color: rgb(225 29 72);
    color: white;
    border-color: rgb(225 29 72);
}

.toggle-btn {
    cursor: pointer;
    transition: all 0.2s;
    background-color: white;
    border-color: rgb(254 205 211);
    color: black;
}

.toggle-btn.active {
    background-color: rgb(254 205 211);
    border-color: rgb(225 29 72);
    color: rgb(225 29 72);
}

.plans-wrapper {
    position: relative;
    overflow: hidden;
}

.plans-container {
    display: flex;
    will-change: transform;
}

.plan-card {
    flex: 0 0 auto;
}

.prev,
.next {
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 10;
}

.swiper-button {
    --swiper-navigation-size: 25px;
    --swiper-navigation-color: rgb(225 29 72);
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(1px);
    border-radius: 5px;
}

.swiper-slide {
    display: flex !important;
    flex-direction: column;
    height: auto;
    /* Важно для растягивания */
}

/* Или для всех слайдов в Swiper */
.swiper-wrapper {
    align-items: stretch;
    /* Растягивает слайды по высоте */
}

/* Для WebKit (Chrome, Safari) */
#budgetRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #f43f5e;
    /* цвет ползунка */
    border-radius: 50%;
    cursor: pointer;
}

/* Для Firefox */
#budgetRange::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #f43f5e;
    border-radius: 50%;
    cursor: pointer;
}

/* Для IE */
#budgetRange::-ms-thumb {
    width: 20px;
    height: 20px;
    background-color: #f43f5e;
    border-radius: 50%;
    cursor: pointer;
}

#budgetRange {
    background: linear-gradient(to right, #f43f5e 0%, #f43f5e 0%, #fca5a5 0%, #fca5a5 100%);
}

/* Ползунок */
#budgetRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #f43f5e;
    border-radius: 50%;
    cursor: pointer;
}
